<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div id="Main">
      <img src="~/Images/images (1).jpg" class="img1"/>
    </div>
    <div class="div2">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#Login">Login</a></li>
        </ul>
    </div>
    <div style="top:35%;position:absolute">
        @RenderBody()
    </div>
</body>
</html>
